.AddNotes {
  border-radius: var(--borderRadius);
  background: var(--whiteColor);
  width: 250px;
  height: 170px;
  cursor: pointer;
  transition: all .3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.02);

    .AddNotes__text {
      color: var(--mainColor);
      transition: all .3s ease;
    }
  }

  &:active {
    transform: scale(1);
    transition: all 0.01s ease;
  }

  &__text {
    color: var(--greyColor);
    font-size: 28px;
    font-weight: 700;
  }
}