.Home {
  overflow: hidden;
  border-radius: var(--borderRadius);

  &__img {
    width: 150px;
    height: auto;
    border-radius: 15px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}