.BlockText{
  padding: 15px 15px;
  font-size: 16px;
  color: var(--greyColor);
  transition: all .4s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 35px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, transparent, #fff 60%);
  }
}