.Card {
  position: relative;
  background: #fff;
  border-radius: var(--borderRadius);
  cursor: pointer;
  overflow: hidden;
  transition: all .3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  width: 250px;
  height: 170px;

  &:hover {
    transform: scale(1.02);

    .Card__text {
      color: var(--mainColor);
      transition: all .3s ease;
    }
  }

  &:active {
    transform: scale(1);
    transition: all 0.01s ease;
  }

  &__title {
    padding: 15px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__footer {
    color: var(--greyColor);
    padding: 15px 15px;
  }
}