.Calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--borderRadius);
  overflow: hidden;
  border: 1px solid var(--mainColor);
  margin-bottom: 20px;

  &__table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background: var(--mainColor);
    grid-gap: 1px;
  }

  &__footer {
    display: flex;
    gap: 20px;
  }
}